<center>
<h1>Welcome <%= current_user.username %>!</h1>
</center>

<section id='title'>
<span>
<h1><%= @results.title %></h1>
</span>
</section>
        <img src="https://image.tmdb.org/t/p/w500/<%= @results.logo %>" alt="">
<div class='movie-stats'>
<section id='vote-average'>
<p>Vote Average: <%= @results.vote_average %></p>
</section>

<section id='runtime'>
<p>Runtime: <%= @results.format_runtime %></p>
</section>

<section id='genre'>
<p>Genre(s): <% @results.genres %>
</p>
</section>
    <div id='new-party'>
    <span>
      <%= button_to 'Create Viewing Party for Movie', '/viewing-party/new', method: :get, 
        params: { title: @results.title,
                runtime: @results.runtime,
                logo: @results.logo,
                api_id: params[:movie_id]}%>
    
    </span>
    </div>
</div>

<hr>
<section id='description'>
<h3>Summary</h3>
<p><%= @results.overview %></p>
<% unless @trailer.nil? %>
  <p><%= link_to 'Watch Trailer on Youtube', "https://www.youtube.com/watch?v=#{@trailer.key}" %></p>
<% end %>
</section>
<hr>

<section>
  <h3>Cast</h3>
  <% if @results.cast.empty? %>
    <p>There is no cast for this movie.</p>
  <% else %>
    <div id='cast'>
    <div class='cast-col'>
    <% @results.cast[0..4].each do |member| %>
      <% unless member.nil?%>
      <p><%= member[:name] %> as <%= member[:character] %></p>
      <% end %>
    <% end %>
  </div>
  <div class='cast-col'>
    <% @results.cast[5..9].each do |member| %>
      <% unless member.nil?%>
          <p><%= member[:name] %> as <%= member[:character] %></p>
      <% end %>
    <% end%>
  <% end %>
</div>
</div>
</section>
<hr>

<section id='review'>
<h3><%= @results.reviews.count %> Reviews</h3>
<% @results.reviews.each do |review| %>
  <h4>Author: <%= review[:author_details][:username]%></h4>
  <p><%= review[:content] %></p>
<% end %>
</section>
<hr>
