<center>
<h1>Change Passowrd</h1>
  <%= form_with model: current_user, url: "/users/#{current_user.id}/update_password", method: :patch, local: true do |f| %>

    <%= f.label :password %>
    <%= f.text_field :password %><br>

    <%= f.label :password_confirmation %>
    <%= f.text_field :password_confirmation %><br>

    <%= f.submit 'Update Password' %>
  <% end %>
</center>
