<center>
<h1>Change Passowrd</h1>
  <%= form_with model: current_user, url: "/users/#{current_user.id}/update_password", method: :patch do |f| %>

    <%= f.label :password %>
    <%= f.text_field :password, :value => '' %><br>

    <%= f.label :password_confirmation %>
    <%= f.text_field :password_confirmation, :value => '' %><br>

    <%= f.hidden_field :username, :value => current_user.username %>
    <%= f.hidden_field :email, :value => current_user.email %>

    <%= f.submit 'Update Password' %>
  <% end %>
</center>
